h1 {
  color: #0b5ed7;
  text-align: center;
  padding: 15px;
  font-family: "Amatic SC", cursive;
}

.borders {
  border: 1px solid black;
  padding: 20px 50px;
  margin: 0px 100px;
}

.btn {
  background-color: #f5f5f5 !important;
  border: 1px solid #0b5ed7 !important;
  color: #0b5ed7 !important;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.low {
  font-weight: 200;
}

.fa-cloud-rain {
  font-size: 80px;
}

.todayTemp {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.percentage {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.main {
  padding: 20px 0px;
}

.byDay {
  padding: 10px;
  border: 1px solid black;
  background: rgba(205, 205, 206, 0.2);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dayEmoji {
  font-size: 25px;
  padding: 15px;
}

footer {
  padding: 20px 180px;
  color: #0b5ed7;
  font-family: "Inconsolata", monospace;
}
