/* page styling */

h1 {
  color: #0b5ed7;
  text-align: center;
  padding: 15px;
  font-family: "Amatic SC", cursive;
}

h2 {
  text-transform: capitalize;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

footer {
  padding: 20px 180px;
  color: #0b5ed7;
  font-family: "Inconsolata", monospace;
}

.borders {
  border: 1px solid black;
  padding: 20px 50px;
  margin: 0px 100px;
}

.btn {
  background-color: #f5f5f5 !important;
  border: 1px solid #0b5ed7 !important;
  color: #0b5ed7 !important;
}

.today {
  padding: 20px 0px;
}

/* main forecast styling */
.todayTemp {
  font-size: 25px;
  font-family: "Poppins", sans-serif;
}

.tempConvert {
  font-size: 15px;
  vertical-align: text-top;
}

.active {
  color: black;
  text-decoration: none;
  cursor: text;
}

.percentage {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

/* 5 day forecast styling */

.byDay {
  padding: 10px;
  border: 1px solid black;
  background: rgba(205, 205, 206, 0.2);
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.dayEmoji {
  font-size: 25px;
  padding: 15px;
}

.low {
  font-weight: 200;
}

#weatherApp {
  width: 50px;
}
